= form_with model: [room, message], class: "flex gap-2" do |f|
  = f.text_field :sender_name, placeholder: "名前", class: "w-24 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
  = f.text_field :content, placeholder: "メッセージを入力", class: "flex-1 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
  = f.submit "送信", class: "px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer"
